<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>AboutUsController</servlet-name>
        <servlet-class>com.airline.controller.AboutUsController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ContactUsController</servlet-name>
        <servlet-class>com.airline.controller.ContactUsController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.airline.controller.LoginController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.airline.controller.RegisterController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PassengerDashboardController</servlet-name>
        <servlet-class>com.airline.controller.PassengerDashboardController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AdminDashboardController</servlet-name>
        <servlet-class>com.airline.controller.AdminDashboardController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>StaffDashboardController</servlet-name>
        <servlet-class>com.airline.controller.StaffDashboardController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DbConfig</servlet-name>
        <servlet-class>com.airline.config.Dbconfig</servlet-class>
    </servlet>

    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Static Resource Handling -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/image/*</url-pattern>
    </servlet-mapping>

    <!-- JSP Configuration -->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
        </jsp-property-group>
    </jsp-config>

</web-app>
